{% extends "admin/app_index.html" %}
{% block content %}
    <div id="content-main">
        {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
    </div>
{% endblock %}

{% block sidebar %}
    <div id="content-related">
        <div class="module" id="recent-actions-module">
            <ul>
                <li>
                    <a href="{% url "admin:hope_flex_fields_fielddefinition_export_all" %}">Export <Configuration></Configuration></a>
                </li>
                <li>
                    <a href="{% url "admin:hope_flex_fields_fielddefinition_import_all" %}">Import Configuration</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
